<!-- //底部模板 -->
<div class="footer w960 center clear">
	<!--
		为了支持JSPXCMS团队的发展,请您保留JSPXCMS内容管理系统的链接信息.
		我们对支持JSPXCMS团队发展的朋友表示真心的感谢!JSPXCMS因您更精彩!
	-->
	<p class="powered">    
    <span>&copy; 2015-2018 All Rights Reserved</span>
     <div class="copyright">
     <span>阳光舞蹈校 版权所有</span>
    <span><a href="http://www.miibeian.gov.cn" target="_blank" class="icp">蜀ICP备15034111号-1</a></span>
    </div></p>        
		<!-- /powered -->		
	<script type="text/javascript">
	document.write(unescape("%3Cscript src='${ctx}/visit_log.jspx%3FsiteId%3D${site.id}%26url%3D")+document.location.href+unescape("%26referrer%3D")+document.referrer+unescape("' type='text/javascript'%3E%3C/script%3E"));
	</script>
</div>
<!-- /footer -->


